#exampleQuestions > .card:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#ai-answer {
    background-color: lightcoral;
    /*#D2B4DE;*/
    text-align: center;
    display: block
}

.answer {
    line-height: 2em;
    font-size: 14px
}

.ai_answer {
    resize: both;
    overflow: auto;
}


.bottom_panel {
    float: right;
    margin-top: 1em;
}

#error_panel {
    margin-top: 50px;
    margin-bottom: 20px;
    color: brown;
    font-size: 14px;
    font-weight: bold
}

.horizontal-scroll-wrapper>div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.horizontal-scroll-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.rectangles {
    min-height: 50px;
    font-size: 12px;
    background-color: #cab;
    text-align: center;
}

.rectangles:hover {
    border: solid darkred;
}

.notes-wrapper {
    max-width: 1600px;
    overflow: hidden;
    display: flex;
}

.note {
    width: 250px;
    min-height: 30px;
    background-color: #ffa94d;
    margin: 5px;
    font-size: 16px;
    display: inline-flex;
    text-align: center
}

.qapairs {
    top: 10px;
    padding: 10px 0px 0px 20px;
}

.qapairs>div {
    min-width: 700px;
    margin: 10px 10px;
    padding: 0px;
    background: #cab;
    font-size: 12px;
    outline: 1px solid grey;

}

.btn {
    float: left;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    color: #fff !important;
    display: block;
    background: #2085bc;
    padding: .9375em 1.625em;
    -webkit-transition: background-color .2s ease, opacity .2s ease;
    transition: background-color .2s ease, opacity .2s ease
}

.btn-submit {
    float: left;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-right: 5px;
    margin-bottom: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    color: #fff !important;
    display: block;
    background: darkgray;
    padding: .9375em 1.625em;
    -webkit-transition: background-color .2s ease, opacity .2s ease;
    transition: background-color .2s ease, opacity .2s ease
}

.ans_span {
    display: inline;
}

#leftcolumn,
#rightcolumn {
    border: 1px solid white;
    float: left;
    min-height: 200px;
    color: white;
    margin-bottom: 1em;
    margin-left: 1em;
}

#leftcolumn {
    width: 40%;
    background-color: #d1e0e0;
}

#rightcolumn {
    background-color: #d1e0e0;
    width: 50%;
}

#bottomrow {
    float: left;
}

#wrapper {
    display: flex;
}

.span1a {
    color: black
}

.span1a_high {
    background-color: lightblue
}

.span1b {
    color: black
}

.span1b_high {
    background-color: lightgreen
}

.span2a {
    color: black
}

.span2a_high {
    background-color: lightblue
}

.span2b {
    color: black
}

.span2b_high {
    background-color: lightgreen
}

.span3a {
    color: black
}

.span3a_high {
    background-color: lightblue
}

.span34b {
    color: black
}

.span34b_high {
    background-color: lightgreen
}

.span3c {
    color: black
}

.span3c_high {
    background-color: lightgreen
}

.span4a {
    color: black
}

.span4a_high {
    background-color: lightblue
}

.span6a {
    color: black
}

.span6a_high {
    background-color: lightblue
}

.span6b {
    color: black
}

.span6b_high {
    background-color: lightgreen
}

.span9a {
    color: black
}

.span9a_high {
    background-color: lightgreen
}

.span9b {
    color: black
}

.span9b_high {
    background-color: yellow
}

.span9c {
    color: black
}

.span9c_high {
    background-color: pink
}

.span9d {
    color: black
}

.span9d_high {
    background-color: orange
}

.annotated {
    float: left
}

textarea {
    width: 100%;
    height: 100%
}

input {
    resize: horizontal;
    max-width: 700px;
}

input:active {
    width: auto;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.query:hover {
    border: solid 2px darkred;
}

#ready_submit {
    height: 50px;
    min-width: 100px;
    background: darkgray;
}

#comment {
    margin: 0 auto;
    width: 600px;
    margin-top: 3em
}

.passage-sample-2 {
    background-color: lightblue;
}

#submission_container {
    margin-left: 45%
}